<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheets" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- <div class="deconstructed">
        Hello <%= fname %>
        <div>Hello <%= fname %></div>
        <div>Hello <%= fname %></div>
        <div>Hello <%= fname %></div>
        <div>Hello <%= fname %></div>
      </div> -->


      <!-- <div id="wrapper">
        <div id="container">
            <h1><%= name %></h1>

        </div>
    </div> -->
    <h1>
        <ul>
            <% for (let i = 0; i < 5 ; i++){ %>
                <p><% i + skills[i]" %></p>
                <% } %>
        </ul>
    </h1>
</body>
</html>